body{
    background-color: black;
    color: white;
}

.logo {
    width: 180px;
    height: 120px;
    margin-right: auto;
    margin-left: -85px;
    margin-top: 10px; 
    /*the margin top pushes the logo down by 10 pixels*/
    
  }
.container {
    list-style: none;
    display: flex;
    background-color: rgb(201, 195, 195);
    border-radius: 20px;
    font-size: 30px;
    margin-right: 20px;

}
.container:hover{
    background-color: white;
    animation: reverse;
    transition: 1s;
}
.items {
padding-right: 115px;
padding-top: 40px;
color: black;
}
.items a {
color: black;

font-family: 'Indie Flower', cursive;
font-family: 'Nerko One', cursive;

}
.items a:hover {
color: white;
background-color: black;
border-radius: 20px;
transition: 1s;
}

.greeting{
    background-color: white;
    color: black;
    border-radius: 25px;
    border: solid 5px grey;
    text-align: center;
    font-family: 'Diplomata SC', cursive;
    /*font-family: 'Indie Flower', cursive;*/
    font-weight:900;
    font-size: 50px;
    transition: 1s;
    
}

.greeting:hover{
    background-color: black;
    color: white;
    font-family: 'Indie Flower', cursive;
    transition: 1s;
    border: dashed 5px white;
  
}


ol {
    background: white;
    border-radius: 15px;
    padding: 20px;
  }
  
  ol li:hover{
    font-size: 40px;
    color: white;
    background: white;
    background-color: black;
  }
  
  ol li {
    background: white;
    color: black;
    padding: 5px;
    font-size: 25px;
    margin-left: 35px;
  }

.live{
    text-align: center;
    color: white;
    border-radius: 20px;
    /*width: 50%;*/
}



#container {
  width: 90%;
  /*border-radius: 25px;*/
  border: 5px solid Black;
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  background: white;
  color: black;
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
  border-radius: 20px;
}

#x {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
}

.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3b021f, 0 0 40px #3d0220, 0 0 50px #2d0318, 0 0 60px rgb(32, 1, 17), 0 0 70px #3a0520;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #190b12, 0 0 40px #d6d2d4, 0 0 50px #000000, 0 0 60px #090708, 0 0 70px #000000, 0 0 80px #000000;
  }
}

input{
  justify-content: center;
  width: 25%;
  border-radius: 20px;
  border: solid 1px black;
  height: 6%;
  margin-top: 20px;
}

textarea{
  width: 40%;
  height: 15%;
  border-radius: 10px;
}

input:hover{
  height: 10%;
}

.flip-card {
  background-color: transparent;
  width: 70%;
  border-radius: 20px;
  margin-top: 10px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.containerr{
  text-align: center;
}

.options{
  width: 120px;
  height: 50px;
  border-radius: 20px;
}

.options:hover{
  background-color: black;
  color: white;
  transition: 1s;
}


.contactt{
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 15px;
  width: 100%;
}

.subk:hover{
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.send_btn{
  border-radius: 20px;
  width: 90px;
  height: 60px;
}

.send_btn:hover{
  background-color: black;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: 1s;
  border: 3px solid white;
}
