{% extends "base.html" %}

{% block title%} Home! {% endblock %}
{% block content%}
<h1 class="greeting" id="greeting" onclick="hi('{{user.username}}')">Hi {{user.first_name}}</h1>

<h1 class="live" id="live">The LIVE INTERNSHIP!</h1>
     <ol>
      <li>Post and get internship information!</li>
      <li onmouseover="description()" id="work" onmouseout="og()">Work on this website!</li>
      <li>Work on projects to gain experience!</li>
      <li>Check out questions you might want to solve</li>
      <li onclick="change()">Feature: Light Mode</li>
      <li onclick="location.reload()">Feature: Dark Mode</li>
      <li id="repo"></li>
    </ol>
{% endblock %}