{% extends 'base.html'%}

{% block content%}
<!--Opportunities-->
{% for note in user.opportunities %}
    <div class="box_container">
   
    
    <div id="container">
        <button type="button" class="close" onClick="deleteEvent({{ note.id }})" id="x">
            <span aria-hidden="true">&times;</span>
        </button>
    <h2 class="glow">{{note.title}}</h2>
    <p>Written By: {{note.firstName}} {{note.lastName}} on {{note.date}}</p>
    <h3>Start Date: {{note.datetime}}</h3>
    <h3>Duration: {{note.duration}}</h3>
    <h4>Money Per Hour: {{note.money_paid}}</h4>
    <p>Desciption: <br> {{note.data_tasks}}</p>

</div>
{% endfor %}
<br>
<br>
<input type="text" placeholder="Title of Project/Internship" id="title" name="title" required> <!--TITLE-->
<br>
<input type="number" placeholder="Number of Days" id="dayz" name="dayz" required> <!--DURATION-->
<br>
<input type="date" placeholder="Date" id="whichdate" name="whichdate" required> <!--DATE-->
<br>
<input type="number" placeholder="Money Paid per hour?" id="money" name="money" required> <!--MONEY PAID PER HOUR-->
<br>
<textarea type="text" placeholder="Description" id="desc" name="desc"></textarea>
<!--Description-->
<button type="submit" onclick="send()">Post</button>
{% endblock%}